<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Charlie Shop</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script src="/js/rutinas.js" type="text/javascript"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid mr-0"> 
                    <img src="https://firebasestorage.googleapis.com/v0/b/charlie-shop-4a342.appspot.com/o/plantilla%2FCharliShopLogo.png?alt=media&token=af00f288-3a67-45f0-b9a3-444639124541" width="100px"/>
                    <a th:href="@{/}" class="navbar-brand mr-5 fw-bold fs-3">[[#{aplicacion.titulo}]]</a>    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div>
                    </div>
                    <div class="collapse navbar-collapse ms-5 mt-5" id="navbarSupportedContent" >
                        <ul class="navbar-nav ms-5 me-auto mb-5 mb-lg-0">  
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/damas/listado}">[[#{plantilla.damas}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/caballeros/listado}">[[#{plantilla.caballeros}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/calzado/listado}">[[#{plantilla.calzado}]]</a></li>  
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/novedades/listado}">[[#{plantilla.novedades}]]</a></li>  
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/perfumeria/listado}">[[#{plantilla.perfumeria}]]</a></li>  
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/accesorios/listado}">[[#{plantilla.accesorios}]]</a></li>  
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/descuentos/listados}">[[#{plantilla.descuentos}]]</a></li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse mt-5" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-5 mb-lg-0">                           
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/contactenos}">[[#{plantilla.contactenos}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link text-black" th:href="@{/ayuda}">[[#{plantilla.ayuda}]]</a></li>
                        </ul>
                    </div>
                    

                    <ul class="navbar-nav mt-5">
                        <li style="list-style-type: none" >
                            <a class="nav-link" href="/pedidos/listado">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </a>
                        </li>

                        <li style="list-style-type: none" >
                            <a class="nav-link" href="/carrito/listado">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">                                
                                <i class="fas fa-user"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/registro/nuevo}">[[#{plantilla.registro}]]</a></li>
                                <li><a class="dropdown-item" th:href="@{/login}">[[#{plantilla.iniciarsesion}]]</a></li>
                            </ul>
                        </li>
                        <li style="list-style-type: none" >
                            <a class="nav-link" href="/busqueda">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="fa-solid fa-language"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/(lang=es)}">ES</a></li>
                                <li><a class="dropdown-item" th:href="@{/(lang=en)}">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>   
            </nav>
        </header>

        <footer th:fragment="footer" style="background-color: #006666;position: fixed; bottom: 0;width: 100%;font-size: 18px; font-weight: bold" class="col text-center text-white mt-auto p-1">
            <div class="container ">
                <div class="col">                
                    <p>&COPY; [[#{plantilla.derechos}]]</p>
                </div>
            </div>

        </footer>
    </body>
</html>