<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}">
        <title>LifeTech Technologies - Contáctenos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- Sección Contáctenos -->
        <section class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="path/to/instagram.jpg" class="img-fluid" alt="Instagram">
                        </a> 
                    </div>
                    <div class="col-md-4">
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="path/to/facebook.jpg" class="img-fluid" alt="Facebook">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://www.google.com/maps" target="_blank">
                            <img src="path/to/location.jpg" class="img-fluid" alt="Ubicación">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
