<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}">
        <title>LifeTech Technologies</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- Sección principal sobre nosotros -->
        <section th:replace="~{sobrenosotros/fragmentos :: sobre}"></section>

        <!-- Sección Contáctenos -->
        <section th:replace="~{contactenos/contactenos :: section}"></section>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
