
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}">
        <title>CharlieShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        
        <!-- Fragmento de Logos de Marcas -->
        <style>
            .LogosMarcas{
                height:150rem;
                background: #F0F8FF;
                margin-top: 10px;

            }
        </style>

        <section th:fragment="LogosMarcas">
            <div class="container">
                <div class="row justify-content-center" style="margin-top: 70px">
                    <div class="col-2">
                        <img src="https://firebasestorage.googleapis.com/v0/b/charlie-shop-4a342.appspot.com/o/Perfumeria%2FChanelLogo1.png?alt=media&token=82eaa4e9-2b7c-4529-8720-606dc4598b06" class="rounded-circle" width="100px" height="100px">                  
                    </div>
                    <div class="col-2">
                        <img src="https://firebasestorage.googleapis.com/v0/b/charlie-shop-4a342.appspot.com/o/Perfumeria%2FLacosteLogo.png?alt=media&token=94b38b84-41a4-4b2d-8d1d-62df1332289b" class="rounded-circle" width="100px" height="100px">                  
                    </div>
                    <div class="col-2">
                        <img src="https://firebasestorage.googleapis.com/v0/b/charlie-shop-4a342.appspot.com/o/Perfumeria%2FCalvinKleinLogo.jpg?alt=media&token=0eab1789-ae7e-40fe-9c0f-60bfe86e9895" class="rounded-circle" width="100px" height="100px">                  
                    </div>
                </div>
                <hr style="margin-top: 50px">
            </div>
        </section>


        <!-- Fragmento de Tarjetas Descuentos Hombres -->
        <section th:fragment="tarjetasDescuentosHombres" id="productos" >
            <div class="container">
                <div class="row row-cols-2">
                    <h3 class="inline">Descuentos Hombres</h3>
                    <div id="resultsBlock"></div>
                </div>

                <div class="row row-cols-5 justify-content-center" th:if="${descuentosHombres != null and !descuentosHombres.empty}">
                    <div class="card m-3" th:each="d : ${descuentosHombres}">
                        <figure>
                            <img th:src="${d.rutaImagen}" 
                                 class="card-img-top" 
                                 height="200" alt="alt"/>
                            <figcaption>
                                ₡[[${d.precio}]] <br><br>
                                [[${d.existencias}]] unidades disponibles
                            </figcaption>
                        </figure>
                        <form>
                            <input type="hidden" name="text" th:value="${d.idProducto}"/>
                            <input type="hidden" name="text" th:value="${d.existencias}"/>
                            <button class="btn btn-ligth" id="addCar" 
                                    name="addCar" onclick="addCart(this.form)" 
                                    type="button"><i class="fas fa-cart-plus"></i></button>
                        </form>
                        <div class="card-header">
                            <h4>[[${d.descripcion}]]</h4>
                        </div>
                        <div class="card-body">
                            <p>[[${d.detalle}]]</p>
                        </div>
                    </div>
                </div>
                <div class="p-2 inline" th:if="${descuentosHombres == null or descuentosHombres.empty}">
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </div>

        </section>
        
        
        <!-- Fragmento de Tarjetas Descuentos Hombres -->
        <section th:fragment="tarjetasDescuentosMujeres" id="productos" >
            <div class="container">
                <div class="row row-cols-2">
                    <h3 class="inline">Descuentos Mujeres</h3>
                    <div id="resultsBlock"></div>
                </div>

                <div class="row row-cols-5 justify-content-center" th:if="${descuentosMujeres != null and !descuentosMujeres.empty}">
                    <div class="card m-3" th:each="dm : ${descuentosMujeres}">
                        <figure>
                            <img th:src="${dm.rutaImagen}" 
                                 class="card-img-top" 
                                 height="200" alt="alt"/>
                            <figcaption>
                                ₡[[${dm.precio}]] <br><br>
                                [[${dm.existencias}]] unidades disponibles
                            </figcaption>
                        </figure>
                        <form>
                            <input type="hidden" name="text" th:value="${dm.idProducto}"/>
                            <input type="hidden" name="text" th:value="${dm.existencias}"/>
                            <button class="btn btn-ligth" id="addCar" 
                                    name="addCar" onclick="addCart(this.form)" 
                                    type="button"><i class="fas fa-cart-plus"></i></button>
                        </form>
                        <div class="card-header">
                            <h4>[[${dm.descripcion}]]</h4>
                        </div>
                        <div class="card-body">
                            <p>[[${dm.detalle}]]</p>
                        </div>
                    </div>
                </div>
                <div class="p-2 inline" th:if="${descuentosMujeres == null or descuentosMujeres.empty}">
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </div>

        </section>
        
        
       
    </body>
</html>
